@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,500&display=swap");

/* font-family: 'Open Sans', sans-serif; */

html,
body {
    height: 100%;
}

body {
    background-color: #f2f7f2;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

/* Heading */

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */

.row-front {
    height: 93vh;
    margin-bottom: 2rem;
}

.row-front::before {
    content: "";
    background-image: url("/images/5327613.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -3;
}

.home-heading {
    font-size: 5rem;
    line-height: 0.9;
    position: relative;
}

nav {
    background-color: #ff7f11;
}

#logo {
    width: 80px;
}

.nav-link {
    /* color: white; */
}

.card {
    background-color: white;
}

.card-title {
    font-weight: 600;
}

.fa-star {
    color: #ff7f11;
}

/* MIDDLEPAGE */ /* MIDDLEPAGE */ /* MIDDLEPAGE */

.middle-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.middle-heading {
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
    color: black;
    font-size: 5rem;
}

.middle-titles {
    /* position: relative; */
}

.middle-icon {
    font-size: 3rem;
    padding-top: 4.3rem;
    padding-bottom: 2rem;
    color: #3581b8;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */

footer {
    margin-top: 3rem;
    background-color: #ff7f11;
    padding: 3rem;
    margin-left: -13px;
    margin-right: -13px;
}

/* AI JORIAN */ /* AI JORIAN */ /* AI JORIAN */

/* AI */

.start-quiz-container {
    width: 100%;
}

.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.answer-form {
    display: flex;
    flex-direction: column;
}

.answer-option input[type="radio"] {
    vertical-align: middle;
    margin-top: -2px;
}

.answer-option label {
    display: inline-block;
    vertical-align: middle;
}

form {
    background-color: #fff;
    padding: 2em;
    border-radius: 0.5em;

    width: 100%;
    max-width: 600px; /* This limits the width of the form to 600px */
}

form input,
form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ddd;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answer-block {
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-block:hover {
    background-color: #d0d0d0;
}

.answer-radio {
    display: none;
}

/* MEDIA QUERY */ /* MEDIA QUERY */ /* MEDIA QUERY */

@media (min-width: 576px) {
    .middle-container {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}

@media (min-width: 767px) {
    .middle-container {
        margin-top: 9rem;
        margin-bottom: 9rem;
    }
}

@media (min-width: 770px) {
    .middle-container {
        margin-top: 14rem;
        margin-bottom: 14rem;
    }
}

@media (min-width: 1156px) {
    .middle-container {
        margin-top: 15rem;
        margin-bottom: 15rem;
    }
}

.vertical-center {
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
