h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

body {
    font-family: "Open Sans", sans-serif;
}

.row-front {
    height: 93vh;
    margin-bottom: 2rem;
}

.row-front::before {
    content: "";
    background-image: url("/images/5327613.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -3;
}

.homeHeading {
    font-size: 5rem;
    line-height: 0.9;
    position: relative;
}

.deopacity {
    position: relative;
}
